header .container-fluid{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.btn {
  padding: 0.375rem 0.9rem!important;
  line-height: 1.5!important;
  border-radius: 0.25rem;
}
.pricing-header {
  max-width: 700px;
}
.card-deck {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.card-deck .card {
  min-width: 290px;
}
.card-body {
  padding: 1.25rem;
}
